@font-face {
  font-family: "DroidSansMono NF";
  font-style: normal;
  font-weight: 400;
  src: url("./DroidSansMono-NF.otf") format("opentype");
}

@font-face {
  font-family: "UbuntuMono NF";
  font-style: normal;
  font-weight: 400;
  src: url("./UbuntuMono-NF.ttf") format("truetype");
}
